AssinaDEJE/AssinaDEJE/Web References/internet/tranf_doe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TransfPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reader" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransfPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TransfPDFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Hello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TransfPDFSoapIn">
    <wsdl:part name="parameters" element="tns:TransfPDF" />
  </wsdl:message>
  <wsdl:message name="TransfPDFSoapOut">
    <wsdl:part name="parameters" element="tns:TransfPDFResponse" />
  </wsdl:message>
  <wsdl:message name="HelloSoapIn">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="HelloSoapOut">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:portType name="TWebService1Soap">
    <wsdl:operation name="TransfPDF">
      <wsdl:input message="tns:TransfPDFSoapIn" />
      <wsdl:output message="tns:TransfPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:HelloSoapIn" />
      <wsdl:output message="tns:HelloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TWebService1Soap" type="tns:TWebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransfPDF">
      <soap:operation soapAction="http://tempuri.org/TransfPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TWebService1Soap12" type="tns:TWebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransfPDF">
      <soap12:operation soapAction="http://tempuri.org/TransfPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TWebService1">
    <wsdl:port name="TWebService1Soap" binding="tns:TWebService1Soap">
      <soap:address location="http://portal.tre-mt.gov.br/ws_doe/tranf_doe.asmx" />
    </wsdl:port>
    <wsdl:port name="TWebService1Soap12" binding="tns:TWebService1Soap12">
      <soap12:address location="http://portal.tre-mt.gov.br/ws_doe/tranf_doe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>